/* Variables */
$main-font-text: 'Libre Baskerville', serif;
$main-font-title: 'Raleway', sans-serif;
$logo-font: 'Raleway', sans-serif;

$lemon: #487eb0;
$lemon-hover: #40739e;
$light-color: #f5f6fa;
$title-color: #2f3640;
$font-color: #353b48;

$small-margin: 100px;
$medium-margin: 150px;
$large-margin: 300px;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.9;
    font-weight: 200;
    font-family: $main-font-text;
    color: $font-color;
}

h1,h2,h3,h4,h5,h6{
    font-family: $main-font-title;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:clicked{
    color: $light-color;
}

.section-title{
    font-size: 50px;
    font-weight: 800;
    color: $title-color
}

.section-subtitle{
    padding: 20px 0 0 0;
    color: $title-color
}

.under-title{
    font-size: 17px;
    margin: 0;
    padding: 0;
    font-style: italic;
}

/* head of page */
.head-of-page::before{
    content: '';
    background-image: url('https://i.postimg.cc/zf4H3y7q/pexels-kammeran-gonzalezkeola-5441742.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.head-of-page{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.6491268382352942) 0%, rgba(0,212,255,0) 100%); 
    height: 100vh;
    color: $light-color;
    position: relative;
    .container{
        .nav-space{
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            .logo{
                font-size: 40px;
                font-family: $logo-font;
                font-style: italic;
                font-weight: 400;
                .colored{
                    color: $lemon;
                }
            }
            .nav{
                display: flex;
                padding: 30px;
                .nav-element{
                    padding: 0 15px;
                }

                .nav-element:hover{
                    color: $lemon;
                }
            }
        }
        .splash{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            .header-subtitle{
                font-size: 50px;
                font-weight: 100;
            }
            .header-title{
                font-size: 90px;
            }
            .btn-header{
                display: inline-block;
                margin-top: $small-margin;
                padding: 20px 50px;
                background-color: $lemon;
                border-radius: 10px;
            }
            .btn-header:hover{
                background-color: $lemon-hover;
                transition: all 0.5s;
            }
        }
    }
}

/* Services */

.services{
    margin-top: $medium-margin;
    .container{
        .services-box{
            margin-top: 100px;
            .services-item{
                i{
                    font-size: 50px;
                    padding: 15px;
                    border-radius: 50%;
                    border: 4px solid $lemon;
                    color: $lemon;
                }
            }
        }
    }
}

.our-portfolio{
    background-color: $light-color;
    margin-top: $large-margin;
    .container{
        padding: 100px 0;
        .our-portfolio-box{
            margin-top: $medium-margin;
            .our-portfolio-item{
                img{
                    width: 100%;
                    height: 70%;
                    object-fit: cover;
                }
            }
        }
    }
}

.footer{
    .container{
        padding: 30px 0;
        display: flex;

        .copyright{
            font-size: 13px;
            font-style: italic;
        }

        .social{
            i{
                margin: 0 5px;
                font-size: 24px;
                padding: 10px;
                background-color: $title-color;
                color:  $light-color;
                border-radius: 50%;
                transition: all 0.5s;
            }

            i:hover{
                background-color: $light-color;
                color: $title-color;
                transition: all 0.5s;
            }
        }
    }
}